$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$yellow: #EBC340;

$white: #CCCCCC;
$gray: #85807A;
$dark-gray: #655346;
$black: #170708;

$light-red: #902D24;
$dark-red: #560B0D;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  color: $white;
}

body {
  background: url(/assets/images/band.jpg);
  background-size: auto 100vh;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(50, 0, 0, 0.8);
    transition: all .3s linear;
  }
}

.no-gutter {
  &.left  { padding-left:  0; }
  &.right { padding-right: 0; }

  @media all and (min-width: 768px) {
    &.left-sm  { padding-left:  0; }
    &.right-sm { padding-right: 0; }
  }

  @media all and (min-width: 992px) {
    &.left-md  { padding-left:  0; }
    &.right-md { padding-right: 0; }
  }
}

.navbar-inverse {
  background: $black;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $gray;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: none;
}

.card {
  background: $black;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 2px lighten($black, 13.5%);
  margin-bottom: 15px;

  .card-title {
    border: 1px solid $gray;
    border-left: none;
    border-top: none;
    margin: -15px 10px 15px -15px;
    padding: 10px;
    float: left;
    color: $yellow;
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'dashboard/dashboard.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector