
/* TODO: Make this super fancypants with SASS */
.game-page-content {
  background-color: rgb(195, 194, 194);
  border-radius: 10px;
}

.game-page-leaderboards {
  
}

.table-leaderboard tbody tr td {
  vertical-align: middle;
}
